Source: ayatana-indicator-bluetooth
Section: gnome
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper (>= 9.0),
               dh-autoreconf,
               dh-systemd,
               gnome-common,
               libglib2.0-dev (>= 2.32.0),
               liburl-dispatcher1-dev,
               systemd [linux-any],
               valac (>= 0.20),
Standards-Version: 4.1.1
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-bluetooth
Vcs-Git: git://github.com:AyatanaIndicators/ayatana-indicator-bluetooth.git
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-indicator-bluetooth.git

Package: ayatana-indicator-bluetooth
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         bluez (>= 5),
         unity-control-center | gnome-control-center | ubuntu-system-settings,
         gnome-bluetooth | ubuntu-system-settings | blueman-manager,
         ayatana-indicator-common,
Replaces: gnome-bluetooth (<< 3.6.1-0ubuntu2)
Breaks: gnome-bluetooth (<< 3.6.1-0ubuntu2)
Description: Ayatana system bluetooth indicator
 Ayatana system bluetooth indicator which provides fast user controls for Bluetooth
 devices.

