Source: ayatana-indicator-bluetooth
Section: gnome
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper (>= 9.0),
               dh-systemd | hello,
               cmake,
               cmake-extras (>= 0.10),
               intltool,
               libayatana-common-dev (>= 0.9.3),
               libglib2.0-dev (>= 2.32.0),
               systemd [linux-any],
               valac (>= 0.20),
Standards-Version: 4.1.1
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-bluetooth
Vcs-Git: git://github.com:AyatanaIndicators/ayatana-indicator-bluetooth.git
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-indicator-bluetooth.git

Package: ayatana-indicator-bluetooth
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         bluez (>= 5),
         unity-control-center | mate-control-center | gnome-control-center | ubuntu-system-settings,
         gnome-bluetooth | ubuntu-system-settings | blueman-manager,
         ayatana-indicator-common,
Replaces: gnome-bluetooth (<< 3.6.1-0ubuntu2)
Breaks: gnome-bluetooth (<< 3.6.1-0ubuntu2)
Description: Ayatana system bluetooth indicator
 This Ayatana Indicator exposes bluetooth functionality via the system
 indicator API and provides fast user controls for Bluetooth devices.
