#!/usr/bin/make -f

NULL =

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel --with systemd

override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./autogen.sh

override_dh_install:
	dh_install
	find debian/ayatana-indicator-bluetooth/usr/lib -name *.la -delete
	find debian/ayatana-indicator-bluetooth/usr/lib -name *.a -delete

override_dh_missing:
	dh_missing --fail-missing

# For live test logs:
#override_dh_auto_test:
#	ARGS=-V dh_auto_test
